# https://www.toptal.com/developers/gitignore/api/java,windows,macos,intellij+all,eclipse에 의해 생성됨
# https://www.toptal.com/developers/gitignore?templates=java,windows,macos,intellij+all,eclipse에서 편집

### 이클립스 ###
.metadata
